<div
  class="main-top-head shadow-box"
  style="min-height: 70px; background-color: #fff"
>
  <div class="container-fluid">
    <nav class="pd-1em header_nav">
      <div class="header_content">
        <div class="_brand font-bold">
          <sup
            ><mat-icon aria-hidden="false" aria-label=""
              >bubble_chart</mat-icon
            ></sup
          >SWEN <sup>GO</sup>
        </div>
        <!-- <div
          class="serarch"
          style="
            margin-left: 10rem;
            flex-basis: 30%;
            display: flex;
            justify-content: center;
            align-items: center;
          "
        >
          <div style="margin-right: 10px;">
            <span class="material-icons ffont30 d-flex"> search </span>
          </div>
          <mat-form-field appearance="legacy" style="width: 100%">
            <mat-label>Looking for something ?</mat-label>
            <input matInput placeholder="Let's find together " />
            <mat-icon matSuffix>search</mat-icon>
          </mat-form-field>
        </div> -->
        <div class="rest_content d-flex">
          <div class="profile">
            <span class="material-icons ffont30 d-flex"> account_circle </span>
          </div>
        </div>
      </div>
    </nav>
  </div>
</div>
