.header_content{display: flex;width: 100%;    align-items: center;align-content: center;}
.header_nav{ display: flex;align-items: center;align-content: center}
.rest_content{margin-left: auto;}
.main-top-head{position: relative;z-index: 999; }