<div class="side-items shadow-box">
  <ul>
    <li>
      <a routerLink="/home" routerLinkActive="active" class="active">
        <mat-icon class="d-flex" aria-hidden="false" aria-label=""
          >home</mat-icon
        >
        &nbsp; Home
      </a>
    </li>
    <li>
      <a routerLink="/home" routerLinkActive="">
        <mat-icon class="d-flex" aria-hidden="false" aria-label=""
          >person</mat-icon
        >
        &nbsp; Profile</a
      >
    </li>
    <li>
      <a routerLink="/home" routerLinkActive="">
        <mat-icon class="d-flex" aria-hidden="false" aria-label=""
          >notifications</mat-icon
        >
        &nbsp; Notifications</a
      >
    </li>
    <li>
      <a routerLink="/home" routerLinkActive="">
        <mat-icon class="d-flex" aria-hidden="false" aria-label=""
          >event</mat-icon
        >
        &nbsp; Events</a
      >
    </li>
    <li>
      <a routerLink="/home" routerLinkActive="">
        <mat-icon class="d-flex" aria-hidden="false" aria-label=""
          >settings</mat-icon
        >
        &nbsp; Settings</a
      >
    </li>
    <li>
      <a routerLink="/home" routerLinkActive="">
        <mat-icon class="d-flex" aria-hidden="false" aria-label=""
          >forum</mat-icon
        >
        &nbsp; Community Help</a
      >
    </li>
    <li>
      <a routerLink="/home" routerLinkActive="">
        <mat-icon class="d-flex" aria-hidden="false" aria-label=""
          >trending_up</mat-icon
        >
        &nbsp; Tracks</a
      >
    </li>
  </ul>
</div>
